package {{.}}

/*  
    json and csv struct field tags are required, if you want the Record to be exported 
    or processed by builtin pipelines
*/

type Record struct {
	Title                           string     `json:"title" csv:"title"`
}
